@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #367ee9;
  --secondary: #a0aec0;
  --accent: #718096;
  --background: hsl(0, 0%, 10%);
  --main: #367ee9;
  --header: #2d3748;
}
